<div class="campaign-item-name__container">
  <p>Name:</p>
  <p>{{ campaign.name }}</p>
</div>
<div class="campaign-item-keywords__container">
  <p>Keywords:</p>
  <p>{{ campaign.keywords }}</p>
</div>
<div class="campaign-item-bid__container">
  <p>Bid:</p>
  <p>{{ campaign.bid }}</p>
</div>
<div class="campaign-item-fund__container">
  <p>Fund:</p>
  <p>{{ campaign.fund }}</p>
</div>
<div class="campaign-item-status__container">
  <p>Status:</p>
  <p>{{ campaign.status }}</p>
</div>
<div class="campaign-item-town__container">
  <p>Town:</p>
  <p>{{ campaign.town }}</p>
</div>
<div class="campaign-item-radius__container">
  <p>Radius:</p>
  <p>{{ campaign.radius }}</p>
</div>
<div class="campaign-item-buttons__container">
  <button>Delete</button>
  <button>Edit</button>
</div>
