<div class="campaign-item-name__container">
  <p>Name:</p>
  <p class="campaign-item-value">{{ campaign.name }}</p>
</div>
<div class="campaign-item-keywords__container">
  <p>Keywords:</p>
  <p class="campaign-item-value">{{ campaign.keywords }}</p>
</div>
<div class="campaign-item-bid__container">
  <p>Bid:</p>
  <p class="campaign-item-value">{{ campaign.bid }}</p>
</div>
<div class="campaign-item-fund__container">
  <p>Fund:</p>
  <p class="campaign-item-value">{{ campaign.fund }}</p>
</div>
<div class="campaign-item-status__container">
  <p>Status:</p>
  <p class="campaign-item-value">{{ campaign.status }}</p>
</div>
<div class="campaign-item-town__container">
  <p>Town:</p>
  <p class="campaign-item-value">{{ campaign.town }}</p>
</div>
<div class="campaign-item-radius__container">
  <p>Radius:</p>
  <p class="campaign-item-value">{{ campaign.radius }}</p>
</div>
<div class="campaign-item-buttons__container">
  <button (click)="deleteCampaign()">Delete</button>
  <button (click)="initializeEditForm()">Edit</button>
</div>
