<div
  class="campaign-form__container"
  [ngClass]="{ active: isActive, inactive: !isActive }"
>
  <form [formGroup]="campaignForm" class="campaign-form__form">
    <div class="campaign-form__form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        required
      />
      @if (campaignForm.get('name')?.invalid &&( campaignForm.get('name')?.dirty
      || campaignForm.get('name')?.touched)) {
      <div class="campaign-name-error__container">
        <p class="form-error">Name required</p>
      </div>
      }
    </div>
    <div class="campaign-form__form-group">
      <label for="keywords">Keywords</label>
      <input
        type="text"
        id="keywords"
        name="keywords"
        formControlName="keywords"
        matInput
        required
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (word of filteredKeywords | async; track word) {
        <mat-option [value]="word">{{ word }}</mat-option>
        }
      </mat-autocomplete>
      @if (campaignForm.get('keywords')?.invalid &&(
      campaignForm.get('keywords')?.dirty ||
      campaignForm.get('keywords')?.touched)) {
      <div class="campaign-keywords-error__container">
        <p class="form-error">At least one keyword required</p>
      </div>
      }
    </div>
    <div class="campaign-form__form-group">
      <label for="bid">Bid amount</label>
      <input type="number" id="bid" name="bid" formControlName="bid" required />
      @if (campaignForm.get('bid')?.invalid &&( campaignForm.get('bid')?.dirty
      || campaignForm.get('bid')?.touched)) {
      <div class="campaign-bid-error__container">
        <p class="form-error">
          @if (campaignForm.get('bid')?.hasError('min')) { Bid amount must be at
          least {{ this.bidMin }}
          } @if (campaignForm.get('bid')?.hasError('required')) { Bid amount
          required }
        </p>
      </div>
      }
    </div>
    <div class="campaign-form__form-group">
      <label for="fund">Campaign fund</label>
      <input
        type="number"
        id="fund"
        name="fund"
        formControlName="fund"
        required
      />
      <div class="fund-extras">
        <p class="emerald-balance">
          Emerald Account balance: {{ this.tempEBalance }}
        </p>
        @if (campaignForm.get('fund')?.invalid &&(
        campaignForm.get('fund')?.dirty || campaignForm.get('fund')?.touched)) {
        <div class="campaign-fund-error__container">
          <p class="form-error">Fund required</p>
        </div>
        }
      </div>
    </div>
    <div class="campaign-form__form-group radio-group">
      <p>Campaign status</p>
      <div class="radio-container">
        @for (status of statuses; track status) {
        <div class="radio-item">
          <input
            type="radio"
            id="status{{ status }}"
            value="{{ status }}"
            name="status"
            formControlName="status"
            required
          />
          <label class="radio-label" for="status{{ status }}">{{
            status
          }}</label>
        </div>
        }
      </div>
    </div>
    <div class="campaign-form__form-group">
      <label for="town">Town</label>
      <select
        id="town"
        name="town"
        formControlName="town"
        required
      >
        @for (town of towns; track town) {
        <option value="{{ town }}">{{ town }}</option>
        }
      </select>
      @if (campaignForm.get('town')?.invalid &&(
      campaignForm.get('town')?.dirty ||
      campaignForm.get('town')?.touched)) {
      <div class="campaign-town-error__container">
        <p class="form-error">Town required</p>
      </div>
      }
    </div>
    <div class="campaign-form__form-group">
      <label for="radius">Radius</label>
      <input
        type="number"
        id="radius"
        name="radius"
        formControlName="radius"
        required
      />
      <p>km</p>
      @if (campaignForm.get('radius')?.invalid &&(
      campaignForm.get('radius')?.dirty ||
      campaignForm.get('radius')?.touched)) {
      <div class="campaign-radius-error__container">
        <p class="form-error">Radius required (can be 0)</p>
      </div>
      }
    </div>
    <div class="campaign-form__buttons">
      @if (formType === 'edit') {
      <button
        (click)="editCampaign()"
        class="campaign-form__edit-button"
        [disabled]="campaignForm.invalid"
      >
        @if (campaignForm.invalid) { Fill in all fields before saving } @else
        {Save changes}
      </button>
      } @else {
      <button
        (click)="addCampaign()"
        class="campaign-form__add-button"
        [disabled]="campaignForm.invalid"
      >
        @if (campaignForm.invalid) { Fill in all fields to add } @else {Add
        Campaign}
      </button>
      }

      <button
        class="campaign-form__cancel-button"
        (click)="toggleActive(); this.campaignForm.reset()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
