<div class="campaign-adder__container">
  <form
    [formGroup]="campaignForm"
    class="campaign-adder__form"
    (ngSubmit)="addCampaign()"
  >
    <div class="campaign-adder__form-group">
      <label for="campaignName">Name</label>
      <input
        type="text"
        id="campaignName"
        name="campaignName"
        formControlName="campaignName"
        required
      />
      @if (campaignForm.get('campaignName')?.invalid &&(
      campaignForm.get('campaignName')?.dirty ||
      campaignForm.get('campaignName')?.touched)) {
      <div class="campaign-name-error__container">
        <p class="form-error">Name required</p>
      </div>
      }
    </div>
    <div class="campaign-adder__form-group">
      <label for="campaignKeywords">Keywords</label>
      <input
        type="text"
        id="campaignKeywords"
        name="campaignKeywords"
        formControlName="campaignKeywords"
        required
      />
      @if (campaignForm.get('campaignKeywords')?.invalid &&(
      campaignForm.get('campaignKeywords')?.dirty ||
      campaignForm.get('campaignKeywords')?.touched)) {
      <div class="campaign-keywords-error__container">
        <p class="form-error">At least one keyword required</p>
      </div>
      }
    </div>
    <div class="campaign-adder__form-group">
      <label for="campaingBid">Bid amount</label>
      <input
        type="number"
        id="campaingBid"
        name="campaingBid"
        formControlName="campaignBid"
        required
      />
      @if (campaignForm.get('campaignBid')?.invalid &&(
      campaignForm.get('campaignBid')?.dirty ||
      campaignForm.get('campaignBid')?.touched)) {
      <div class="campaign-bid-error__container">
        <p class="form-error">
          @if (campaignForm.get('campaignBid')?.hasError('min')) { Bid amount
          must be at least {{ this.bidMin }}
          } @if (campaignForm.get('campaignBid')?.hasError('required')) { Bid
          amount required }
        </p>
      </div>
      }
    </div>
    <div class="campaign-adder__form-group">
      <label for="campaignFund">Campaign fund</label>
      <input
        type="number"
        id="campaignFund"
        name="campaignFund"
        formControlName="campaignFund"
        required
      />
      <div class="fund-extras">
        <p class="emerald-balance">
          Emerald Account balance: {{ this.tempEBalance }}
        </p>
        @if (campaignForm.get('campaignFund')?.invalid &&(
        campaignForm.get('campaignFund')?.dirty ||
        campaignForm.get('campaignFund')?.touched)) {
        <div class="campaign-fund-error__container">
          <p class="form-error">Fund required</p>
        </div>
        }
      </div>
    </div>
    <div class="campaign-adder__form-group radio-group">
      <p>Campaign status</p>
      <div class="radio-container">
        @for (status of statuses; track status) {
        <div class="radio-item">
          <input
            type="radio"
            id="campaignStatus{{ status }}"
            value="{{ status }}"
            name="campaignStatus"
            formControlName="campaignStatus"
            required
          />
          <label class="radio-label" for="campaignStatus{{ status }}">{{
            status
          }}</label>
        </div>
        }
      </div>
    </div>
    <div class="campaign-adder__form-group">
      <label for="campaignTown">Town</label>
      <select
        id="campaignTown"
        name="campaignTown"
        formControlName="campaignTown"
        required
      >
        @for (town of towns; track town) {
        <option value="{{ town }}">{{ town }}</option>
        }
      </select>
      @if (campaignForm.get('campaignTown')?.invalid &&(
      campaignForm.get('campaignTown')?.dirty ||
      campaignForm.get('campaignTown')?.touched)) {
      <div class="campaign-town-error__container">
        <p class="form-error">Town required</p>
      </div>
      }
    </div>
    <div class="campaign-adder__form-group">
      <label for="campaignRadius">Radius</label>
      <input
        type="number"
        id="campaignRadius"
        name="campaignRadius"
        formControlName="campaignRadius"
        required
      />
      <p>km</p>
      @if (campaignForm.get('campaignRadius')?.invalid &&(
      campaignForm.get('campaignRadius')?.dirty ||
      campaignForm.get('campaignRadius')?.touched)) {
      <div class="campaign-radius-error__container">
        <p class="form-error">Radius required (can be 0)</p>
      </div>
      }
    </div>
    <div class="campaign-adder__buttons">
      <button
        type="submit"
        class="campaign-adder__add-button"
        [disabled]="campaignForm.invalid"
      >
        @if (campaignForm.invalid) { Fill in all fields to add } @else {Add}
      </button>
      <button class="campaign-adder__cancel-button">Cancel</button>
    </div>
  </form>
</div>
